.view {
  font: normal normal normal 20px/28px Poppins, sans-serif;
  letter-spacing: 0px;
  color: #111111;
}

.day {
  font: normal normal 600 20px/28px Poppins, sans-serif;
  letter-spacing: 0px;
  color: #7A35FF;
}

.month {
  font: normal normal 600 20px/28px Poppins, sans-serif;
  letter-spacing: 0px;
  color: #111111;
}
