.background {
  background-color: #FAFAFA;
}

.card {
  background-color: #FFFFFF;
  max-width: 506px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.h3 {
  font-weight: 700;
}

a {
  color: #212E89;
  font-weight: 600;
}
