<div class="row g-0 vh-100">
  <div class="col d-none d-md-block">
    <div class="auth-bg">
      <div class="background"></div>
    </div>
  </div>

  <div class="col-sm-7 col-lg-6 m-auto">
    <div class="d-flex justify-content-center">
      <div class="col-11 col-lg-10 col-xl-6">
        <h6 class="h3 mb-1">Recuperar a senha</h6>

        <ng-container *ngIf="!submitted">
          <p class="text-muted mb-5">
            Informe seu e-mail cadastrado no nosso site e receba instruções de como criar uma nova senha
          </p>

          <form [formGroup]="form" errorTailor novalidate (ngSubmit)="handleSubmit()">
            <div class="mb-3">
              <app-input label="Seu e-mail" formControlName="email"></app-input>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-prim">Recuperar senha</button>
            </div>
          </form>
        </ng-container>

        <div *ngIf="submitted" [@fadeIn]>
          <p class="text-muted mb-5">Acesse seu e-mail e siga as instruções para criar uma nova senha.</p>

          <span class="fw-bold me-3">Não recebeu as instruções?</span>

          <button type="button" class="btn btn-prim" (click)="handleSubmit()">
            Reenviar e-mail
          </button>
        </div>

        <div class="text-center mt-5">
          <a routerLink="/login">Voltar para login</a>
        </div>
      </div>
    </div>
  </div>
</div>
